body {
  font-family: sans-serif;
  padding-left: 1em;
}

a {
  text-decoration: none;
}

label {
  display: block;
  padding: 1em;
}

nav a {
  display: inline-block;
  margin: 1em;
  font-size: 1.2em;
}

form div {
  margin: 1em;
  display: inline-block;
}
div {
  display: inline;
}

.card-deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: outo;
}
constainer {
  display: flex;
}

.card-img-top {
  max-width: 18rem;
}
.card {
  max-width: 25rem;

  /* display: flex; */
  flex-direction: column;
  display: inline-block;
}

.container {
  margin-bottom: 5em;
}

.total {
  bottom: 0;
  margin-left: 1rem;
  align-self: flex-start;
}
.header {
  display: inline;
}
.spaceCat {
  margin: 1em;
}
.flex-container {
  display: flex;
}
.h1-default {
  font-size: 1.5rem !important;
}
nav > h1 {
  font-style: italic;
  font-weight: bold;
  color: rgb(89, 89, 128);
}
